<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<style>
.butt {
  position: relative;
  background-color:  #e6fff7;
  border: none;
  color: black;
  padding: 12px 28px;
  text-decoration: none;
  margin: 8px 2px;
  cursor: pointer;
}
</style>

<center>
    <h1> Detail </h1>
<body>
    <h2>{{ title1 }}</h2>

    <canvas id="chart1" width="600" height="400"></canvas>
    <script>
      var pieData = [
        {% for item, label, colors in set2 %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },

        {% endfor %}
      ];

      // get bar chart canvas
      var mychart = document.getElementById("chart1").getContext("2d");
      steps = 10
      max = {{ max }}

      // draw pie chart
      new Chart(document.getElementById("chart1").getContext("2d")).Pie(pieData);

    </script>

    <h2>{{ title2 }}</h2>
    <canvas id="chart2" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in label1 %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{

          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in value1 %}
               "{{ item }}",
              {% endfor %}
	    ]
          },
          {

          fillColor: "rgba(198,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(98,187,205,1)",
          data : [
            {% for item in value3 %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("chart2").getContext("2d");

       steps = 10
       max = {{max}}

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script>

</script>

    <h2>{{ title3 }}</h2>
    <canvas id="chart3" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in label2 %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in value2 %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("chart3").getContext("2d");

       steps = 10
       max = {{max}}

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script>
</body>
    <button class = "butt" onclick="goBack()">Go Back</button>
</center>
</html>
