<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
</head>

<style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  width: 180px;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
  width: 180px;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 180px;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
  width: 180px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width: 180px;
  overflow: auto;
}

.dropdown-district{
  width: 180px;
  padding: 6px 2px;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  width: 180px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

input[type=button], input[type=submit], input[type=reset] {
  position: relative;
  background-color:  #00e673;
  border: none;
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  margin: 0 auto;
  display: block;
}

.box-filter {
  text-align:left;
  background-color:  #e6f9ff;
  opacity:0.9;
}


</style>
<body>
<div class="map" style="opacity:0.55;">
    {% include "map.html" %}
</div>

<form  action="{{ url_for('index') }}" method="post">
  <div class="dropdown" style="position: absolute; top: 8px; left: 50px">
        <select id="district" class="dropdown-district" name="district-name">
          <option value="{{dis_select}}" name="{{dis_select}}"selected>Select: {{dis_select}}</option>
          <option value="bangkok" name="bangkok">Bangkok</option>
          {% for dis in dis_all %}
            <option value="{{dis}}" name="{{dis}}">{{dis}}</option>
          {% endfor %}
        </select>
  </div>
  <div  class="box-filter" style="position: absolute; left: 13px; top: 80px;">
    <label for="cuisine">Cuisine:</label>
    <input type="text" id="cuisine" name="cuisine" value="{{pre_cuisine}}"><br><br>
    <label for="trip-ad">Tripdavisor rating (0-5 or >=3 or >3 or <3):</label>
    <input type="text" id="trip-ad" name="trip-ad" value="{{pre_trip_ad}}"><br><br>
    <label for="google">Google rating (0-5 or >=3 or >3 or <3):</label>
    <input type="text" id="google" name="google" value="{{pre_google}}"><br><br>
    <label for="michelin">Michelin star (0-3 or >=3 or >3 or <3):</label>
    <input type="text" id="michelin" name="michelin" value="{{pre_michelin}}"><br><br>
    <label for="open">Open time (06.00):</label>
    <input type="text" id="open" name="open" value={{pre_open}}><br><br>
    <p>Number of matched restaurants: {{number_restautant}}</p>
    <input type="submit" value="Submit">
  </div>
</form>
{% if label_cui  and value_cui  and color  %}
  <canvas id="pie-chart" style="position: absolute; left: 13px; top: 400px; width: 250px; height: 350px; max-width: 250px; background-color:  #f9f2ec"></canvas>
{% endif%}
<script>
    new Chart(document.getElementById("pie-chart"), {
         type: 'pie',
          data: {
            labels: {{label_cui | tojson}},
            datasets: [{
              backgroundColor: {{color | tojson}},
              data: {{value_cui | tojson}}
            }]
          },
          options: {
            title: {
              display: false,
              text: 'Cuisine'
            },
            legend: {
                display: false
            },

        }
        });
</script>

{% if value1 %}
  <canvas id="chart2" style="position: absolute; left: 1250px; top: 400px; width: 250px; height: 300px; max-width: 250px; background-color:  #f9f2ec" ></canvas>
{% endif %}
<script>
var ctx = document.getElementById("chart2").getContext('2d');
var dataLabels = [0, 1, 2, 3, 4, 5, 6];
var dataTValues = {{value1}};
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: dataLabels,
    datasets: [{
      label: 'Tripadvisor rating',
      data: dataTValues,
      backgroundColor: 'rgba(255, 99, 132, 1)',
    }]
  },
  options: {
    scales: {
      xAxes: [{
        display: false,
        barPercentage: 1.3,
        ticks: {
            max: 5,
        }
     }, {
        display: true,
        ticks: {
            autoSkip: false,
            max: 6,
        }
      }],
      yAxes: [{
        ticks: {
          beginAtZero:true
        }
      }]
    }
  }
});
</script>

{% if value2 %}
  <canvas id="chart3" style="position: absolute; left: 1250px; top: 400px; width: 250px; height: 300px; max-width: 250px; background-color:  #f9f2ec" ></canvas>
{% endif %}
<script>
var ctx = document.getElementById("chart3").getContext('2d');
var dataLabels = [0, 1, 2, 3, 4, 5, 6];
var dataValues = {{value2}};
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: dataLabels,
    datasets: [{
      label: 'Google rating',
      data: dataValues,
      backgroundColor: 'rgb(0, 203, 255, 2)',
    }]
  },
  options: {
    scales: {
      xAxes: [{
        display: false,
        barPercentage: 1.3,
        ticks: {
            max: 5,
        }
     }, {
        display: true,
        ticks: {
            autoSkip: false,
            max: 6,
        }
      }],
      yAxes: [{
        ticks: {
          beginAtZero:true
        }
      }]
    }
  }
})
</script>


{% if value1_compare and value2_compare  %}
  <canvas id="chart4" style="position: absolute; left: 1250px; top: 400px; width: 250px; height: 300px; max-width: 250px; background-color:  #f9f2ec" ></canvas>
{% endif%}
<script>
var ctx = document.getElementById("chart4").getContext('2d');
var dataLabels = [0, 1, 2, 3, 4, 5, 6];
var dataTValues = {{value1_compare}};
var dataGValues = {{value2_compare}};
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: dataLabels,
    datasets: [{
      label: 'Tripadvisor rating',
      data: dataTValues,
      backgroundColor: 'rgba(255, 99, 132, 1)',
    },
    {
      label: 'Google rating',
      data: dataGValues,
      backgroundColor: 'rgb(0, 203, 255, 2)',
    }]
  },
  options: {
    scales: {
      xAxes: [{
        display: false,
        barPercentage: 1.3,
        ticks: {
            max: 5,
        },
     }, {
        display: true,
        ticks: {
            autoSkip: false,
            max: 6,
        },
      }],
      yAxes: [{
        ticks: {
          beginAtZero:true
        }
      }]
    }
  }
});
</script>

{% if value3 %}
  <canvas id="chart5" style="position: absolute; left: 1250px; top: 30px; width: 250px; height: 300px; max-width: 250px; background-color:  #f9f2ec" ></canvas>
{% endif %}
<script>
var ctx = document.getElementById("chart5").getContext('2d');
var dataLabels = [0, 1, 2, 3];
var dataTValues = {{value3}};
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: dataLabels,
    datasets: [{
      label: 'Michelin stars',
      data: dataTValues,
      backgroundColor: 'rgba(0,0,255,0.3)',
      barPercentage: 0.5,
      barThickness: 6,
      maxBarThickness: 8,
      minBarLength: 2,
    }]
  },
  options: {
    scales: {
        xAxes: [{
            gridLines: {
                offsetGridLines: true
            }
        }]
    }
  }
});
</script>

<script>
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>

</body>
</html>