<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<!--<style>-->
<!--body {-->
<!--  background-color: #e6f5ff;-->
<!--}-->
<!--</style>-->
<!--<style>-->
<!-- .t1{-->
<!--    background-color: #FFFFF0;-->
<!--    width: 250px;-->
<!--    border: 25px;-->
<!--    padding: 30px;-->
<!--  }-->

<!--   .t2{-->
<!--    background-color: #FFFFF0;-->
<!--    width: 250px;-->
<!--    border: 25px;-->
<!--    padding: 30px;-->
<!--  }-->

<!--  .padding1{-->
<!--    position: absolute;-->
<!--    left: 1400px;-->
<!--    top: 380px;-->
<!--    width: 300px;-->
<!--    height: 350px;-->
<!--    padding: 30px;-->
<!--    background-color: #e6ffe6;-->
<!--  }-->



<!--</style>-->
<body style="background-color: #ccf2ff;">
<!--<div>-->
<!--  <iframe src="{{url_for('static', filename = 'map')}}" height="600" width="800">-->
<!--</div>-->
<div class="map">
    {% include "map_test.html" %}
</div>


{% block content %}
<form action="{{ url_for('index') }}" method="post">
	<p>District:</p>
	<p><input type="text" name="nm" style="background-color:  #ffffff; border: 20px; color: black; padding: 5px 20px; text-decoration: none; border-radius: 5em;"/></p>
	<p><input type="submit" value="submit" style="background-color: #66ffcc;"/></p>
</form>
{% endblock %}


<!--<div class="padding1" style="position: absolute; left: 1400px; top: 380px;">-->
<!--  <input type="text" class="t1" id="time1" placeholder="Start Time">-->
<!--</div>-->

<!--<div style="position: absolute; left: 1430px; top: 600px;">-->
<!--  <input type="text" class="t2" id="time2" placeholder="Close Time">-->
<!--</div>-->



<!--<form class="form-checkbox" style="position: absolute; left: 1400px; top: 5px; width: 320px; height: 350px;">-->
<!--  <input type="checkbox" id="wongnai" name="wongnai" value="Wongnai">-->
<!--  <label for="wongnai"> Wongnai </label><br>-->
<!--  <input type="checkbox" id="time" name="vehicle2" value="Time">-->
<!--  <label for="time"> Time </label><br>-->
<!--  <input type="checkbox" id="michelin" name="michelin" value="Michelin">-->
<!--  <label for="michelin"> Michelin Star</label><br><br>-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->



<!--<canvas id="chart1" class="chart" style="position: absolute; left: 1400px; top: 380px; width: 300px; height: 350px;"></canvas>-->

<script>
  var pieData = [
    {% for item, label, colors in set2 %}
      {
        value: {{item}},
        label: "{{label}}",
        color : "{{colors}}"
      },

    {% endfor %}
   ];

// get bar chart canvas
var mychart = document.getElementById("chart1").getContext("2d");
steps = 10
max = {{ max }}

// draw pie chart
new Chart(document.getElementById("chart1").getContext("2d")).Pie(pieData);

</script>

<!--For wongnai chart-->
<!--<canvas id="chart3" class="chart"></canvas>-->
<!--<script>-->
<!--  // bar chart data-->
<!--  var barData = {-->
<!--    labels : [-->
<!--      {% for item in label2 %}-->
<!--       "{{ item }}",-->
<!--      {% endfor %}-->
<!--],-->

<!--    datasets : [{-->
<!--      fillColor: "rgba(151,187,205,0.2)",-->
<!--      strokeColor: "rgba(151,187,205,1)",-->
<!--      pointColor: "rgba(151,187,205,1)",-->
<!--      data : [-->
<!--        {% for item in value2 %}-->
<!--           "{{ item }}",-->
<!--          {% endfor %}-->
<!--    ]-->
<!--      }-->
<!--    ]-->
<!--  }-->

<!-- // get bar chart canvas-->
<!-- var mychart = document.getElementById("chart3").getContext("2d");-->

<!--   steps = 10-->
<!--   max = {{max}}-->

<!-- // draw bar chart-->
<!-- new Chart(mychart).Bar(barData, {-->
<!--   scaleOverride: true,-->
<!--   scaleSteps: steps,-->
<!--   scaleStepWidth: Math.ceil(max / steps),-->
<!--   scaleStartValue: 0,-->
<!--   scaleShowVerticalLines: true,-->
<!--   scaleShowGridLines : true,-->
<!--   barShowStroke : true,-->
<!--   scaleShowLabels: true-->
<!--   }-->
<!-- );-->

<!--</script>-->


<!--For compare chart-->
<!--<canvas id="chart2" class="chart"></canvas>-->
<!--<script>-->
<!--  // bar chart data-->
<!--  var barData = {-->
<!--    labels : [-->
<!--      {% for item in label1 %}-->
<!--       "{{ item }}",-->
<!--      {% endfor %}-->
<!--],-->

<!--    datasets : [{-->

<!--      fillColor: "rgba(151,187,205,0.2)",-->
<!--      strokeColor: "rgba(151,187,205,1)",-->
<!--      pointColor: "rgba(151,187,205,1)",-->
<!--      data : [-->
<!--        {% for item in value1 %}-->
<!--           "{{ item }}",-->
<!--          {% endfor %}-->
<!--    ]-->
<!--      },-->
<!--      {-->

<!--      fillColor: "rgba(0,187,78,0.2)",-->
<!--      strokeColor: "rgba(151,187,205,1)",-->
<!--      pointColor: "rgba(98,187,205,1)",-->
<!--      data : [-->
<!--        {% for item in value3 %}-->
<!--           "{{ item }}",-->
<!--          {% endfor %}-->
<!--    ]-->
<!--      }-->
<!--    ]-->
<!--  }-->

<!-- // get bar chart canvas-->
<!-- var mychart = document.getElementById("chart2").getContext("2d");-->

<!--   steps = 10-->
<!--   max = {{max}}-->

<!-- // draw bar chart-->
<!-- new Chart(mychart).Bar(barData, {-->
<!--   scaleOverride: true,-->
<!--   scaleSteps: steps,-->
<!--   scaleStepWidth: Math.ceil(max / steps),-->
<!--   scaleStartValue: 0,-->
<!--   scaleShowVerticalLines: true,-->
<!--   scaleShowGridLines : true,-->
<!--   barShowStroke : true,-->
<!--   scaleShowLabels: true-->
<!--   }-->
<!-- );-->

<!--</script>-->




<script>
var times = {}; // Added to initialize an object

var timepicker = new TimePicker(['time1', 'time2'], {
  theme: 'dark',
  lang: 'en'
});

timepicker.on('change', function(evt){
  var value = (evt.hour || '00') + ':' + (evt.minute || '00');
  evt.element.value = value;

  //Added the below to store in the object and consoling:
  var id = evt.element.id;
  times[id] = value;
  console.clear();
  console.log(times);
});
</script>

</body>
</html>



