<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f8135e415fd2463995a5a37f57a2a62d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_f8135e415fd2463995a5a37f57a2a62d" ></div>
        
</body>
<script>    
    
            var map_f8135e415fd2463995a5a37f57a2a62d = L.map(
                "map_f8135e415fd2463995a5a37f57a2a62d",
                {
                    center: [13.7500014, 100.5428021],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_462c8238ff1d46e3a4a3103a2fd9d89d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f8135e415fd2463995a5a37f57a2a62d);
        
    
            var marker_cluster_7f284e661f1a456281af2b84e63ec522 = L.markerClusterGroup(
                {}
            );
            map_f8135e415fd2463995a5a37f57a2a62d.addLayer(marker_cluster_7f284e661f1a456281af2b84e63ec522);
        
    
            var marker_2b6dd8b27fed402fb36ad5ea529a7e5f = L.marker(
                [13.7500014, 100.5428021],
                {}
            ).addTo(marker_cluster_7f284e661f1a456281af2b84e63ec522);
        
    
            var icon_2117b7630242476e966f0057bb14164a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_2b6dd8b27fed402fb36ad5ea529a7e5f.setIcon(icon_2117b7630242476e966f0057bb14164a);
        
    
        var popup_9916d475521c4d58a935a9c3d8b88cdc = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_6646b8672e254b73bd7c57e909737d58 = $(`<div id="html_6646b8672e254b73bd7c57e909737d58" style="width: 100.0%; height: 100.0%;">             Name: The Berkeley Dining Room             Adress: 559 Ratprarop Rd The Berkeley Hotel Pratunam, Makkasan, Rachatewi, Bangkok 10400 Thailand              Tripadvisor rating: 5.0              Google rating: 4.3              Michelin Star: 0              Cuisines: International,Thai             Open hours: 06.00 - 22.00         </div>`)[0];
            popup_9916d475521c4d58a935a9c3d8b88cdc.setContent(html_6646b8672e254b73bd7c57e909737d58);
        

        marker_2b6dd8b27fed402fb36ad5ea529a7e5f.bindPopup(popup_9916d475521c4d58a935a9c3d8b88cdc)
        ;

        
    
</script>