<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8553f2e8f87b4f39933484e4ac225e6e {
                    position: relative;
                    width: 1200.0px;
                    height: 600.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_8553f2e8f87b4f39933484e4ac225e6e" ></div>
        
</body>
<script>    
    
            var map_8553f2e8f87b4f39933484e4ac225e6e = L.map(
                "map_8553f2e8f87b4f39933484e4ac225e6e",
                {
                    center: [13.728, 100.561],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6c85d83ef9274bba880d466df08754d6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8553f2e8f87b4f39933484e4ac225e6e);
        
    
            var marker_cluster_0e62cfedf0be443fa667c08db32937f9 = L.markerClusterGroup(
                {}
            );
            map_8553f2e8f87b4f39933484e4ac225e6e.addLayer(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var marker_5e61e0d8bc20499591dcb659b7ef27a8 = L.marker(
                [13.7250605, 100.5792751],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_f1c19476e02641c190236c70b203ab38 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_5e61e0d8bc20499591dcb659b7ef27a8.setIcon(icon_f1c19476e02641c190236c70b203ab38);
        
    
        var popup_223e8b21119e4c68bfdac0ae7e59cfd3 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_3ce59a9b4f0b42a99787e8d1a70a2a63 = $(`<div id="html_3ce59a9b4f0b42a99787e8d1a70a2a63" style="width: 100.0%; height: 100.0%;">Name: Chez Shibata365         Adress: 27 Soi Sukhumvit 55 Hotel Nikko Thonglor The Ginza Zone Escalator At 3rd Floor, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: French</div>`)[0];
            popup_223e8b21119e4c68bfdac0ae7e59cfd3.setContent(html_3ce59a9b4f0b42a99787e8d1a70a2a63);
        

        marker_5e61e0d8bc20499591dcb659b7ef27a8.bindPopup(popup_223e8b21119e4c68bfdac0ae7e59cfd3)
        ;

        
    
    
            var marker_9b474974b7144ec0b63bab641d29a61c = L.marker(
                [13.7271702, 100.578008],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_dc16b4b1519e42218913096027184900 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_9b474974b7144ec0b63bab641d29a61c.setIcon(icon_dc16b4b1519e42218913096027184900);
        
    
        var popup_3d31043a26bc4459ae7590495c15ba66 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_86493b37d5934b2ea93bbf2abe51de9c = $(`<div id="html_86493b37d5934b2ea93bbf2abe51de9c" style="width: 100.0%; height: 100.0%;">Name: Chez Shibata365         Adress: 27 Soi Sukhumvit 55 Hotel Nikko Thonglor The Ginza Zone Escalator At 3rd Floor, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Japanese</div>`)[0];
            popup_3d31043a26bc4459ae7590495c15ba66.setContent(html_86493b37d5934b2ea93bbf2abe51de9c);
        

        marker_9b474974b7144ec0b63bab641d29a61c.bindPopup(popup_3d31043a26bc4459ae7590495c15ba66)
        ;

        
    
    
            var marker_aed3e1cb281f4a0faebe720e0376879f = L.marker(
                [13.7251833, 100.5792023],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_8f9cb95d359c4786b0477f03a6859bb9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_aed3e1cb281f4a0faebe720e0376879f.setIcon(icon_8f9cb95d359c4786b0477f03a6859bb9);
        
    
        var popup_292ea21f0144447a91e9f0189df0c0fe = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_1f022960fdf4478fa0cb5dd437af55db = $(`<div id="html_1f022960fdf4478fa0cb5dd437af55db" style="width: 100.0%; height: 100.0%;">Name: Chez Shibata365         Adress: 27 Soi Sukhumvit 55 Hotel Nikko Thonglor The Ginza Zone Escalator At 3rd Floor, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Thai</div>`)[0];
            popup_292ea21f0144447a91e9f0189df0c0fe.setContent(html_1f022960fdf4478fa0cb5dd437af55db);
        

        marker_aed3e1cb281f4a0faebe720e0376879f.bindPopup(popup_292ea21f0144447a91e9f0189df0c0fe)
        ;

        
    
    
            var marker_ff717f14451c403f8886be8c36a1d884 = L.marker(
                [13.7251768, 100.5792906],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_8110b085133248708a5f9c7de08a0c72 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_ff717f14451c403f8886be8c36a1d884.setIcon(icon_8110b085133248708a5f9c7de08a0c72);
        
    
        var popup_6988a5addaba4ea1815e5aa2cf09e691 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_1d7627ada6b44e25aca7897a88ca147c = $(`<div id="html_1d7627ada6b44e25aca7897a88ca147c" style="width: 100.0%; height: 100.0%;">Name: Chez Shibata365         Adress: 27 Soi Sukhumvit 55 Hotel Nikko Thonglor The Ginza Zone Escalator At 3rd Floor, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Japanese sweets parlour</div>`)[0];
            popup_6988a5addaba4ea1815e5aa2cf09e691.setContent(html_1d7627ada6b44e25aca7897a88ca147c);
        

        marker_ff717f14451c403f8886be8c36a1d884.bindPopup(popup_6988a5addaba4ea1815e5aa2cf09e691)
        ;

        
    
    
            var marker_544b3cf70bb543d2b09106324c6612e4 = L.marker(
                [13.7231729, 100.5803839],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_32ea1e7c36d6402bb27b9bb778ac75f2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_544b3cf70bb543d2b09106324c6612e4.setIcon(icon_32ea1e7c36d6402bb27b9bb778ac75f2);
        
    
        var popup_c84e0ff9410d4afc99db3973d906cebc = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_5b44b3accf6448db9cd6e97c90605f67 = $(`<div id="html_5b44b3accf6448db9cd6e97c90605f67" style="width: 100.0%; height: 100.0%;">Name: Chez Shibata365         Adress: 27 Soi Sukhumvit 55 Hotel Nikko Thonglor The Ginza Zone Escalator At 3rd Floor, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Japanese Fusion</div>`)[0];
            popup_c84e0ff9410d4afc99db3973d906cebc.setContent(html_5b44b3accf6448db9cd6e97c90605f67);
        

        marker_544b3cf70bb543d2b09106324c6612e4.bindPopup(popup_c84e0ff9410d4afc99db3973d906cebc)
        ;

        
    
    
            var marker_7f2c9f54c7c84884afae4337c3c8a7b4 = L.marker(
                [13.7444345, 100.5568782],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_301857ada71e4802ba4c0e9365612f01 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_7f2c9f54c7c84884afae4337c3c8a7b4.setIcon(icon_301857ada71e4802ba4c0e9365612f01);
        
    
        var popup_021dfd858f4c4a95a964fa6f0b080ac2 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_2c544e918d9f4fae96de4dd9eaef7948 = $(`<div id="html_2c544e918d9f4fae96de4dd9eaef7948" style="width: 100.0%; height: 100.0%;">Name: Baan Khanitha at Fifty Three         Adress: 31, Soi Sukhumvit 53, Sukhumvit Road Klongton Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 4.0          Michelin Star: 0.0          Cuisine: Asian</div>`)[0];
            popup_021dfd858f4c4a95a964fa6f0b080ac2.setContent(html_2c544e918d9f4fae96de4dd9eaef7948);
        

        marker_7f2c9f54c7c84884afae4337c3c8a7b4.bindPopup(popup_021dfd858f4c4a95a964fa6f0b080ac2)
        ;

        
    
    
            var marker_389cd73d2c7a4773ac5829a7adb7441b = L.marker(
                [13.7349098, 100.5638551],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_ddb6a21f1ee94b2f92c0098b148f0d7c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_389cd73d2c7a4773ac5829a7adb7441b.setIcon(icon_ddb6a21f1ee94b2f92c0098b148f0d7c);
        
    
        var popup_3cb4e6fc515a411c8e4bc86097ece52b = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_1982012741e0405fb2c5f43a34013c6e = $(`<div id="html_1982012741e0405fb2c5f43a34013c6e" style="width: 100.0%; height: 100.0%;">Name: Baan Khanitha at Fifty Three         Adress: 31, Soi Sukhumvit 53, Sukhumvit Road Klongton Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 4.0          Michelin Star: 0.0          Cuisine: Thai</div>`)[0];
            popup_3cb4e6fc515a411c8e4bc86097ece52b.setContent(html_1982012741e0405fb2c5f43a34013c6e);
        

        marker_389cd73d2c7a4773ac5829a7adb7441b.bindPopup(popup_3cb4e6fc515a411c8e4bc86097ece52b)
        ;

        
    
    
            var marker_f7d026718025413c9e1160f71adc2d9c = L.marker(
                [13.7444345, 100.5568782],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_70477b31ce2d4f0b90fb5c142e31d150 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_f7d026718025413c9e1160f71adc2d9c.setIcon(icon_70477b31ce2d4f0b90fb5c142e31d150);
        
    
        var popup_08d33fb8786f47c09876e052f55e8d9e = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_59431e142aab4e318eb637d5f514c5dc = $(`<div id="html_59431e142aab4e318eb637d5f514c5dc" style="width: 100.0%; height: 100.0%;">Name: The Oasis - All Day Dining         Adress: 27 Soi Sukhumvit 55 , Sukhumvit Road Hotel Nikko Bangkok 6th floor, Klongtan Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: International</div>`)[0];
            popup_08d33fb8786f47c09876e052f55e8d9e.setContent(html_59431e142aab4e318eb637d5f514c5dc);
        

        marker_f7d026718025413c9e1160f71adc2d9c.bindPopup(popup_08d33fb8786f47c09876e052f55e8d9e)
        ;

        
    
    
            var marker_90e561b932ed48c7b2ed651ede652a3a = L.marker(
                [13.7372897, 100.566812],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_39fbf1da157b4cd78cd7deec6ae24816 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_90e561b932ed48c7b2ed651ede652a3a.setIcon(icon_39fbf1da157b4cd78cd7deec6ae24816);
        
    
        var popup_c88c1071fe724561a248fb61c9467680 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_36758929fd954ffb9d4bf03a39d4c795 = $(`<div id="html_36758929fd954ffb9d4bf03a39d4c795" style="width: 100.0%; height: 100.0%;">Name: The Oasis - All Day Dining         Adress: 27 Soi Sukhumvit 55 , Sukhumvit Road Hotel Nikko Bangkok 6th floor, Klongtan Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Japanese</div>`)[0];
            popup_c88c1071fe724561a248fb61c9467680.setContent(html_36758929fd954ffb9d4bf03a39d4c795);
        

        marker_90e561b932ed48c7b2ed651ede652a3a.bindPopup(popup_c88c1071fe724561a248fb61c9467680)
        ;

        
    
    
            var marker_9bf71b0217ca4ad9be2f3f0c0d1ccf54 = L.marker(
                [13.7444345, 100.5568782],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_f40608a726f94249956f5ac1afaf4c73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_9bf71b0217ca4ad9be2f3f0c0d1ccf54.setIcon(icon_f40608a726f94249956f5ac1afaf4c73);
        
    
        var popup_42bf834d584f4782a0f2d39a3041ff5b = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_c55ba788f98a4295a7a4ba8780958047 = $(`<div id="html_c55ba788f98a4295a7a4ba8780958047" style="width: 100.0%; height: 100.0%;">Name: The Oasis - All Day Dining         Adress: 27 Soi Sukhumvit 55 , Sukhumvit Road Hotel Nikko Bangkok 6th floor, Klongtan Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Seafood</div>`)[0];
            popup_42bf834d584f4782a0f2d39a3041ff5b.setContent(html_c55ba788f98a4295a7a4ba8780958047);
        

        marker_9bf71b0217ca4ad9be2f3f0c0d1ccf54.bindPopup(popup_42bf834d584f4782a0f2d39a3041ff5b)
        ;

        
    
    
            var marker_67f6a66805f54f84a0248e6c2827b6a0 = L.marker(
                [13.723426, 100.580535],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_e5fb3738d5f547e2a3bfff7da2ae97d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_67f6a66805f54f84a0248e6c2827b6a0.setIcon(icon_e5fb3738d5f547e2a3bfff7da2ae97d8);
        
    
        var popup_3f988cae60b54dc1b1cd8bf432d57b6a = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_ae55775eeec34d8f8412320ba2c4e701 = $(`<div id="html_ae55775eeec34d8f8412320ba2c4e701" style="width: 100.0%; height: 100.0%;">Name: The Oasis - All Day Dining         Adress: 27 Soi Sukhumvit 55 , Sukhumvit Road Hotel Nikko Bangkok 6th floor, Klongtan Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Asian</div>`)[0];
            popup_3f988cae60b54dc1b1cd8bf432d57b6a.setContent(html_ae55775eeec34d8f8412320ba2c4e701);
        

        marker_67f6a66805f54f84a0248e6c2827b6a0.bindPopup(popup_3f988cae60b54dc1b1cd8bf432d57b6a)
        ;

        
    
    
            var marker_4245cb0ad6c648a997dd8412117c6b8f = L.marker(
                [13.7397488, 100.5571238],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_255e1f98643c46caae93479683a46fe7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_4245cb0ad6c648a997dd8412117c6b8f.setIcon(icon_255e1f98643c46caae93479683a46fe7);
        
    
        var popup_6269bba620624b74be46ffffb20e085e = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_d2ac0a4c2ce44d688f6955c12d7e7b93 = $(`<div id="html_d2ac0a4c2ce44d688f6955c12d7e7b93" style="width: 100.0%; height: 100.0%;">Name: The Oasis - All Day Dining         Adress: 27 Soi Sukhumvit 55 , Sukhumvit Road Hotel Nikko Bangkok 6th floor, Klongtan Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Healthy</div>`)[0];
            popup_6269bba620624b74be46ffffb20e085e.setContent(html_d2ac0a4c2ce44d688f6955c12d7e7b93);
        

        marker_4245cb0ad6c648a997dd8412117c6b8f.bindPopup(popup_6269bba620624b74be46ffffb20e085e)
        ;

        
    
    
            var marker_5cb54606231c49b1a053ceb289f84898 = L.marker(
                [13.7377907, 100.5598268],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_74c747ab91944aa79ee60e8d8ab5829e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_5cb54606231c49b1a053ceb289f84898.setIcon(icon_74c747ab91944aa79ee60e8d8ab5829e);
        
    
        var popup_5dc8bb8b9a584b9c906957bb1099ec02 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_2d0a5b30ec894117915cdb98a123d485 = $(`<div id="html_2d0a5b30ec894117915cdb98a123d485" style="width: 100.0%; height: 100.0%;">Name: Curve 55 - Lobby Lounge         Adress: 27 Soi Sukhumvit 55 , Sukhumvit Road Khwaeng Klongtan Nua, Khet Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Lunch</div>`)[0];
            popup_5dc8bb8b9a584b9c906957bb1099ec02.setContent(html_2d0a5b30ec894117915cdb98a123d485);
        

        marker_5cb54606231c49b1a053ceb289f84898.bindPopup(popup_5dc8bb8b9a584b9c906957bb1099ec02)
        ;

        
    
    
            var marker_aef5967f87f141919ffa91c5f4d57e06 = L.marker(
                [13.7235023, 100.5805426],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_c4d305dcdee348ddab9b0e97cee3c376 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_aef5967f87f141919ffa91c5f4d57e06.setIcon(icon_c4d305dcdee348ddab9b0e97cee3c376);
        
    
        var popup_de8ee7f3416c4e4b898128c46d1debf9 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_0a205e960f6642b5ae7700d7ba927b20 = $(`<div id="html_0a205e960f6642b5ae7700d7ba927b20" style="width: 100.0%; height: 100.0%;">Name: Curve 55 - Lobby Lounge         Adress: 27 Soi Sukhumvit 55 , Sukhumvit Road Khwaeng Klongtan Nua, Khet Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Dinner</div>`)[0];
            popup_de8ee7f3416c4e4b898128c46d1debf9.setContent(html_0a205e960f6642b5ae7700d7ba927b20);
        

        marker_aef5967f87f141919ffa91c5f4d57e06.bindPopup(popup_de8ee7f3416c4e4b898128c46d1debf9)
        ;

        
    
    
            var marker_2047e7fbd1954dfca86f5a2332aa4ee8 = L.marker(
                [13.7052758, 100.6015468],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_4901134c34d3475387a2c901d5eeb643 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_2047e7fbd1954dfca86f5a2332aa4ee8.setIcon(icon_4901134c34d3475387a2c901d5eeb643);
        
    
        var popup_2e560b03183c47d8a5b733abd2ae6695 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_c45466c9bde74edf8138cdd854e5fb15 = $(`<div id="html_c45466c9bde74edf8138cdd854e5fb15" style="width: 100.0%; height: 100.0%;">Name: Curve 55 - Lobby Lounge         Adress: 27 Soi Sukhumvit 55 , Sukhumvit Road Khwaeng Klongtan Nua, Khet Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Drinks</div>`)[0];
            popup_2e560b03183c47d8a5b733abd2ae6695.setContent(html_c45466c9bde74edf8138cdd854e5fb15);
        

        marker_2047e7fbd1954dfca86f5a2332aa4ee8.bindPopup(popup_2e560b03183c47d8a5b733abd2ae6695)
        ;

        
    
    
            var marker_923382e437424aa7a244f0ff5ccc6a4a = L.marker(
                [13.744005, 100.5578306],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_08498bae818a4a80b3803ca37592c323 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_923382e437424aa7a244f0ff5ccc6a4a.setIcon(icon_08498bae818a4a80b3803ca37592c323);
        
    
        var popup_8050f72f71ee4c159ef182064534fca3 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_bde89c9e78da40598f332fbae36898c1 = $(`<div id="html_bde89c9e78da40598f332fbae36898c1" style="width: 100.0%; height: 100.0%;">Name: The District Grill Room and Bar         Adress: 2 Sukhumvit Soi 57 Klongtan Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Steakhouse</div>`)[0];
            popup_8050f72f71ee4c159ef182064534fca3.setContent(html_bde89c9e78da40598f332fbae36898c1);
        

        marker_923382e437424aa7a244f0ff5ccc6a4a.bindPopup(popup_8050f72f71ee4c159ef182064534fca3)
        ;

        
    
    
            var marker_37ad2d160bde4b7598ce4c4412ecd181 = L.marker(
                [13.7349047, 100.563891],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_09bae6a575964e3b9fb2acb30ba85730 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_37ad2d160bde4b7598ce4c4412ecd181.setIcon(icon_09bae6a575964e3b9fb2acb30ba85730);
        
    
        var popup_3610d011dba94165a098830f777c585a = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_577562c360294ad79ed0e11a814027b8 = $(`<div id="html_577562c360294ad79ed0e11a814027b8" style="width: 100.0%; height: 100.0%;">Name: The District Grill Room and Bar         Adress: 2 Sukhumvit Soi 57 Klongtan Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: European</div>`)[0];
            popup_3610d011dba94165a098830f777c585a.setContent(html_577562c360294ad79ed0e11a814027b8);
        

        marker_37ad2d160bde4b7598ce4c4412ecd181.bindPopup(popup_3610d011dba94165a098830f777c585a)
        ;

        
    
    
            var marker_f47afd15d77d4861ae4dbc579fc3e153 = L.marker(
                [13.7254257, 100.579201],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_52d1e87c5bc84d21830e9ad1514934f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_f47afd15d77d4861ae4dbc579fc3e153.setIcon(icon_52d1e87c5bc84d21830e9ad1514934f6);
        
    
        var popup_23a91bb5be7b405a92b886b623698bde = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_4141ca3a93234ef39932882a798141c2 = $(`<div id="html_4141ca3a93234ef39932882a798141c2" style="width: 100.0%; height: 100.0%;">Name: The District Grill Room and Bar         Adress: 2 Sukhumvit Soi 57 Klongtan Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Wine Bar</div>`)[0];
            popup_23a91bb5be7b405a92b886b623698bde.setContent(html_4141ca3a93234ef39932882a798141c2);
        

        marker_f47afd15d77d4861ae4dbc579fc3e153.bindPopup(popup_23a91bb5be7b405a92b886b623698bde)
        ;

        
    
    
            var marker_a0e4ea35aa5d4f1ba5773e85a07d4789 = L.marker(
                [13.7251898, 100.5791712],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_61ed0ea076f24a1090aaa3da2e054640 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_a0e4ea35aa5d4f1ba5773e85a07d4789.setIcon(icon_61ed0ea076f24a1090aaa3da2e054640);
        
    
        var popup_cc767a3e1e9748aebc77b84493f99759 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_b066c34f870147ec8af70615096d4a69 = $(`<div id="html_b066c34f870147ec8af70615096d4a69" style="width: 100.0%; height: 100.0%;">Name: The District Grill Room and Bar         Adress: 2 Sukhumvit Soi 57 Klongtan Nua, Wattana, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Grill</div>`)[0];
            popup_cc767a3e1e9748aebc77b84493f99759.setContent(html_b066c34f870147ec8af70615096d4a69);
        

        marker_a0e4ea35aa5d4f1ba5773e85a07d4789.bindPopup(popup_cc767a3e1e9748aebc77b84493f99759)
        ;

        
    
    
            var marker_cc56eb240a7944baac40d6752ca06ff4 = L.marker(
                [13.745234, 100.5575394],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_f661176e9d4245b5880c5eeeebd34175 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_cc56eb240a7944baac40d6752ca06ff4.setIcon(icon_f661176e9d4245b5880c5eeeebd34175);
        
    
        var popup_272a6998797c4ed5bf44f6014739164e = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_20ec06dd67da4d04ac5914efb6ac1f6d = $(`<div id="html_20ec06dd67da4d04ac5914efb6ac1f6d" style="width: 100.0%; height: 100.0%;">Name: Amritsr         Adress: Soi Sukhumvit 22 Khlong Toei, Khlong Toei, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Indian</div>`)[0];
            popup_272a6998797c4ed5bf44f6014739164e.setContent(html_20ec06dd67da4d04ac5914efb6ac1f6d);
        

        marker_cc56eb240a7944baac40d6752ca06ff4.bindPopup(popup_272a6998797c4ed5bf44f6014739164e)
        ;

        
    
    
            var marker_f3b42e7215bd41afaac4b42cc7a6bef8 = L.marker(
                [13.7395281, 100.5574106],
                {}
            ).addTo(marker_cluster_0e62cfedf0be443fa667c08db32937f9);
        
    
            var icon_928b06d6207c4be7970e3da8f7edc818 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_f3b42e7215bd41afaac4b42cc7a6bef8.setIcon(icon_928b06d6207c4be7970e3da8f7edc818);
        
    
        var popup_a4af7f2890624ff086472183523f5688 = L.popup({"maxWidth": 400, "minWidth": 300});

        
            var html_4580645593264410bddc3acb1a977d52 = $(`<div id="html_4580645593264410bddc3acb1a977d52" style="width: 100.0%; height: 100.0%;">Name: Amritsr         Adress: Soi Sukhumvit 22 Khlong Toei, Khlong Toei, Bangkok 10110 Thailand          Tripadvisor: 5.0          Michelin Star: 0.0          Cuisine: Asian</div>`)[0];
            popup_a4af7f2890624ff086472183523f5688.setContent(html_4580645593264410bddc3acb1a977d52);
        

        marker_f3b42e7215bd41afaac4b42cc7a6bef8.bindPopup(popup_a4af7f2890624ff086472183523f5688)
        ;

        
    
</script>